body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable:hover {
  cursor: pointer;
}

.clickableTd:hover {
  cursor: pointer;
  text-decoration: underline;
}

tr:nth-child(even) > .clickableTd:hover {
  background-color: rgb(200, 200, 200);
}

tr:nth-child(odd) > .clickableTd:hover {
  background-color: rgb(185, 185, 185);
}

.dark tr:nth-child(even) > .clickableTd:hover {
  background-color: #232930
}

.dark tr:nth-child(odd) > .clickableTd:hover {
  background-color: #232930
}

.dark .table-dark button {
  background-color: #343a40 !important;
}

.dark {
  background-color: #454d55;
  color: white;
}

.Modal {
  background-color: white;
}

.dark .Modal {
  background-color: #343a40;
}

.dark button {
  background-color: #d4a122;
  border-color: #d4a122;
  color: white;
}

.dark button:hover, .dark button:active, .dark button:focus {
  background-color: #c39011 !important;
  border-color: #c39011 !important;
  box-shadow: none !important;
}

.dark input, .dark select, .dark textarea {
  background-color: #454d55;
  color: white;
}

.dark input:active, .dark select:active, .dark textarea:active, .dark input:focus, .dark select:focus, .dark textarea:focus {
  background-color: #454d55;
  color: white;
  border-color: #d4a122;
  box-shadow: none;
}

.dark input:checked {
  background: #d4a122 !important;
  color: red !important;
}

.dark option:focus {
  background-color: #c39011;
}

.dark a {
  color: #d4a122;
}

.dark a:hover {
  color: white;
}

.dark .btn-outline-info {
  border-color: #d4a122;
  box-shadow: none !important;
}

.dark a.btn-outline-info:hover, .dark a.btn-outline-info:active, .dark a.btn-outline-info:focus {
  border-color: #d4a122 !important;
  background-color: #d4a122 !important;
  box-shadow: none !important;
  color: white;
}

.dark .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  border-color: #d4a122 !important;
  background-color: #d4a122 !important;
  box-shadow: none !important;
  color: white;
}

input:checked + label .Indicator-sc-1airx73-0 {
  background-color: #169b45;
  border-width: 0px;
}

.topMarginIfMobile {
  margin-left: 15px;
}
.noMaxWidth {
  max-width: none !important;
}

.songFormRow {
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .mobileOnly {
    display: none;
  }

  .marginIfDesktop {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .hideIfMobile {
    display: none;
  }

  .overflowXMobile {
    overflow-x: scroll;
  }

  .mobileDontScrollHorizontal {
    width: 100% !important;
    column-span: 1 !important;
  }

  .topMarginIfMobile {
    margin-top: 15px;
    margin-left: 0px;
  }

  .songFormRow div {
    margin-bottom: 5px;
  }
}